<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div
        *ngFor="let job of jobOffers"
        class="col-md-6 wow slideInUp"
        data-wow-delay="0.1s"
      >
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
          class="img-fluid"
          [src]="job.imagePath"
          alt="{{ job.title }}"
        />
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small
                ><i class="far fa-calendar-alt text-primary me-2"></i
                >{{ job.postedDate | date }}</small
              >
            </div>
            <h4 class="mb-3">{{ job.title }}</h4>
            <p>{{ job.description | slice : 0 : 100 }}...</p>
            <a class="text-uppercase" [routerLink]="['/jobs', job.id]">
              Read More <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-offer-form">
    <h2>Create Job Offer</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="jobOffer.title"
        name="title"
        required
      />

      <label for="description">Description:</label>
      <textarea
        id="description"
        [(ngModel)]="jobOffer.description"
        name="description"
        required
      ></textarea>

      <label for="requirements">Requirements:</label>
      <textarea
        id="requirements"
        [(ngModel)]="jobOffer.requirements"
        name="requirements"
        required
      ></textarea>

      <label for="location">Location:</label>
      <input
        type="text"
        id="location"
        [(ngModel)]="jobOffer.location"
        name="location"
        required
      />

      <label for="postedDate">Posted Date:</label>
      <input
        type="date"
        id="postedDate"
        [(ngModel)]="jobOffer.postedDate"
        name="postedDate"
        required
      />

      <label for="status">Status:</label>
      <select id="status" [(ngModel)]="jobOffer.status" name="status">
        <option [value]="true">Active</option>
        <option [value]="false">Inactive</option>
      </select>

      <label for="image">Upload Image:</label>
      <input type="file" id="image" (change)="onFileSelected($event)" />

      <button type="submit">Create Job Offer</button>
    </form>
  </div>
</div>
